// hero start
.about-tablet-img {
  display: none;
}
.about-hero {
  padding-bottom: 16rem;
}
.about-hero-container {
  background-image: url(../../images/svg/about-hero-bacgroung-img.svg);
  background-repeat: no-repeat;
  background-color: $primary-peach-color;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 1.5rem;
}

.about-hero-content {
  padding-top: 13.5rem;
  padding-bottom: 13.5rem;
  padding-left: 4rem;
  h2 {
    color: $primary-white-color;
    margin-bottom: 3.2rem;
  }
  p {
    color: $primary-white-color;
    width: 458px;
  }
}
.about-hero-img {
  display: block;
  position: inherit;
  right: -5rem;
}
// hero end
// features start
.about-feature-big-img {
  display: none;
}
.about-features {
  padding-bottom: 16rem;
}
.about-features-container {
  background-color: #fdf3f0;
  border-radius: 1.5rem;
  display: flex;
  position: relative;
}
.about-features-contant {
  padding-top: 13.5rem;
  padding-bottom: 13.5rem;
  padding-left: 4rem;
  h2 {
    color: $primary-peach-color;
    margin-bottom: 3.2rem;
  }
  p {
    color: $secondary-dark-grey-color;

    width: 458px;
  }
}

.about-features-img {
  position: inherit;
  left: -5rem;
}
// features end

// STATE LINKS START

.about-state-links {
  padding-bottom: 8rem;
}

.about-states-links__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.state-item {
  text-align: center;
  h3 {
    margin-top: 4.8rem;
  }
}
// STATE LINKS END

// BG START
.big-bg-img {
  display: none;
}
.about-bg {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.about-bg-container {
  background-color: #fdf3f0;
  border-radius: 1.5rem;
  display: flex;
  position: relative;
}

.about-bg-contant {
  padding-top: 13.5rem;
  padding-bottom: 13.5rem;
  padding-left: 4rem;
  h2 {
    color: $primary-peach-color;
    margin-bottom: 3.2rem;
  }
  p {
    color: $secondary-dark-grey-color;

    width: 458px;
  }
}

.about-bg-img {
  position: inherit;
  left: 18.3rem;
}

// BG END

// MEDIA START
@media screen and (max-width: 768px) {
  .about-hero-img {
    display: none;
  }
  .about-hero-container {
    width: 654px;
    height: 632px;
    flex-direction: column-reverse;
  }
  .about-hero-content {
    position: inherit;
    top: 56px;

    h2 {
      text-align: center;
      font-size: 4.8rem;
    }
    p {
      text-align: center;
    }
  }
  .about-tablet-img {
    display: block;
    position: absolute;
    bottom: 340px;
    right: 0;
    width: 654px;
    height: 300px;
  }
  // FEATURES START
  .about-features-container {
    width: 654px;
    height: 736px;
    flex-direction: column;
  }
  .about-features-img {
    display: none;
  }
  .about-feature-big-img {
    display: block;
    width: 654px;
    position: inherit;
    right: 50px;
  }
  .about-features-contant {
    text-align: center;
    position: inherit;
    top: -8rem;
  }
  // FEATURES END
  // STATE LINKS
  .about-state-links__container {
    width: 654px;
  }
  .about-states-links__list {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  // STATE LINKS END
  // BG START
  .big-bg-img {
    display: block;
    position: inherit;
    bottom: -7.4rem;
    right: 5rem;
    width: 654px;
    height: 300px;
  }

  .about-bg-container {
    width: 654px;
    height: 736px;
    flex-direction: column-reverse;
  }

  .about-bg-contant {
    text-align: center;
    position: inherit;
    top: 50px;
  }
  .about-bg-img {
    display: none;
  }
  // BG END
}

@media screen and (max-width: 375px) {
  .about-state-links__container {
    width: 350px;
  }
}

// MEDIA END
