.cont-hero {
  padding-bottom: 16rem;
}
.cont-hero-container {
  background-image: url(../../images/svg/about-hero-bacgroung-img.svg);
  background-repeat: no-repeat;
  background-color: $primary-peach-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5rem;
}

.contact-hero-content {
  padding-top: 13.5rem;
  padding-bottom: 13.5rem;
  padding-left: 4rem;
  h2 {
    color: $primary-white-color;
    margin-bottom: 3.2rem;
  }
  p {
    color: $primary-white-color;
    width: 458px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  a {
    margin-top: 0;
  }
  input {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background: transparent;
    width: 380px;
    border-bottom: 1px solid #ffffff7c;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}
.form-title {
  color: #ffffff93;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.73;
}

// MEDIA START
@media screen and (max-width: 768px) {
  .cont-hero-container {
    width: 650px;
    height: 710px;
    flex-direction: column;
  }
  .contact-hero-content {
    padding-top: 7rem;
    padding-bottom: 0rem;
  }

  .form {
    a {
      margin-top: 0;
      margin-bottom: 7.1rem;
    }
  }
}

@media screen and (max-width: 375px) {
  .cont-hero-container {
    width: 350px;
    height: 710px;
  }
  .contact-hero-content {
    h2 {
      font-size: 3.2rem;
    }
    p {
      width: 327px;
      height: 125px;
    }
  }
  .form {
    width: 320px;
  }
}
// MEDIA END
