main {
  background-image: url(../../images/svg/hero-and-features-img.svg);
  background-repeat: no-repeat;
  background-position: left 9px top 348px;
  flex-grow: 1;
}
// HERO STRAT

.hero-container {
  background-image: url(../../images/svg/hero-bacgraung-img.svg),
    url(../../images/hero-img.png);
  background-repeat: no-repeat;
  background-position: right, right 10rem bottom -68px;
  background-color: $primary-peach-color;
  border-radius: 15px;
  display: flex;
  height: 640px;
}

.hero-content {
  width: 540px;
  display: flex;
  flex-direction: column;
  margin-right: auto;

  h1 {
    color: $primary-white-color;
    margin-top: 14.5rem;
    margin-bottom: 1.1rem;
  }
  p {
    width: 445px;
    @include fontStetting(1.6rem, 1.62, 400, normal);
    color: $primary-white-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 5.8rem;
  }
}

// HERO END

// FEATURES START

.features {
  padding-top: 16rem;
  padding-bottom: 8rem;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 3rem;
}
.features-item {
  width: 541px;
  text-align: center;
}

.features-item:nth-last-child(1) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.features__linka {
  width: 100%;
  padding: 27rem 0;
  border-radius: 1.5rem;
  transition: 0.3s ease;
  background-image: url(../../images/features-img1.png);
  background-repeat: no-repeat;
  grid-row: 1/3;
  color: $primary-white-color;
  p {
    color: #fff;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  &:hover {
    background-image: url(../../images/svg/features-mask1.svg),
      url(../../images/features-img1.png);
  }
}

.features__linkb {
  width: 100%;
  padding: 10rem 0;
  border-radius: 1.5rem;
  background-image: url(../../images/features-img2.png),
    url(../../images/Mask-Copy.png);
  background-repeat: no-repeat;
  color: $primary-white-color;
  p {
    color: #fff;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  &:hover {
    background-image: url(../../images/svg/features-mask1.svg),
      url(../../images/features-img2.png);
  }
}
.features__linkc {
  width: 100%;
  padding: 10rem 0;
  border-radius: 1.5rem;
  transition: 0.3s ease;
  background-image: url(../../images/features-img3.png);
  background-repeat: no-repeat;
  color: $primary-white-color;
  p {
    color: #fff;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  &:hover {
    background-image: url(../../images/svg/pages-link-mask.svg),
      url(../../images/features-img3.png);
  }
}

// FEATURES END

// INFO START

.info {
  padding-top: 8rem;
  padding-bottom: 16rem;
  background-image: url(../../images/svg/info-bacgraund-img.svg);
  background-repeat: no-repeat;
  background-position: right -73px bottom -152px;
}

.info-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-bottom: 4.5rem;
  }
  h3 {
    text-align: center;
    margin-bottom: 3.2rem;
  }
  p {
    color: $secondary-dark-grey-color;
    text-align: center;
    font-weight: 400;
  }
}
// INFO END
// BG START
.bg {
  position: relative;
  // display: none;
}
.bg-container {
  background-image: url(../../images/svg/bg-rigt-bottom.svg),
    url(../../images/svg/bg-right-top.svg),
    url(../../images/svg/bg-right-c-bottom.svg),
    url(../../images/svg/bg-right-c-top.svg),
    url(../../images/svg/bg-c-bottom.svg);
  background-repeat: no-repeat;
  background-position: right bottom, right top, bottom right 292px,
    top right 292px, bottom left 345px;
  position: inherit;
  bottom: -60px;
  height: 292px;
  border-radius: 1.5rem;
  background-color: $primary-peach-color;
  display: flex;
  align-items: center;
}

.bg-content {
  margin-right: auto;
  padding-left: 3.5rem;
  h2 {
    color: $primary-white-color;
    width: 293px;
    flex-shrink: 0;
    margin-bottom: 5px;
  }
  p {
    color: $primary-white-color;
    width: 459px;
  }
}
.btn {
  margin-top: 120px;
}

// BG END

// MEDIA START

@media screen and (max-width: 768px) {
  // HERO START
  .hero {
    padding-bottom: 12rem;
  }
  .hero-container {
    width: 100%;
    max-width: 700px;
    height: 843px;
    background-image: url(../../images/svg/hero-bacgraung-img.svg),
      url(../../images/hero-img.png);
    background-repeat: no-repeat;
    background-position: right 50px, center bottom -182px;
  }

  .hero-content {
    text-align: center;
    margin-right: 0;
    margin-left: auto;
    align-items: center;
    padding-left: 0;
    h1 {
      margin-top: 6rem;
    }
    p {
      margin-bottom: 0;
      // max-width: 400px;
    }
    a {
      align-self: auto;
      margin-top: 2rem;
    }
  }
  // HERO END
  // FEATURES START
  .features {
    padding-top: 6.7rem;
  }
  .features-list {
    display: flex;
    flex-direction: column;
  }
  .features-item {
    width: 100%;
  }
  .features__linka {
    background-image: url(../../images/features-img1.png);
    background-repeat: inherit;
    background-position: bottom;
    padding: 8rem 0;
  }
  .features__linkb {
    background-image: url(../../images/features-img2.png),
      url(../../images/Mask-Copy.png);
    background-repeat: round;
    padding: 8rem 0;
  }

  .features__linkc {
    background-image: url(../../images/features-img3.png);
    background-repeat: round;
    padding: 8rem 0;
  }
  // FEATURES END
  // INFO START
  .info {
    width: 100%;
    padding-top: 12rem;
    padding-bottom: 6.7rem;
    background-image: url(../../images/svg/info-bacgraund-img.svg);
    background-repeat: no-repeat;
    background-position: right -73px bottom -152px;
  }
  .info-container {
    display: flex;
  }

  .info__content {
    display: flex;
    flex-direction: column;
    width: 468px;
    padding-left: 3rem;
  }

  .info-list {
    display: flex;
    flex-direction: column;
  }
  .info-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    h3 {
      text-align-last: left;
    }
    p {
      text-align: left;
    }
  }

  // INFO END
  // BG START
  .bg-container {
    width: 100%;
    max-width: 700px;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    h2 {
      width: 100%;
      margin-top: 6rem;
    }
    p {
      width: 100%;
      margin-bottom: 0;
      // max-width: 400px;
    }
    a {
      align-self: auto;
      margin-top: 2rem;
    }
  }
  // BG end
}

@media screen and (max-width: 375px) {
  // HERO START
  .hero {
    display: block;
  }

  .hero-container {
    width: 100%;
    max-width: 375px;
    border-radius: 0;
  }

  .hero-content {
    width: 100%;
    max-width: 324px;
    margin-right: 0;
    h1 {
      width: 375px;
      font-size: 3.2rem;
    }
    p {
      width: 327px;
      font-size: 1.5rem;
    }
  }

  // features start
  .features-list {
    position: relative;
  }
  .features-item {
    position: inherit;
    left: -23px;
    width: 332px;
    text-align: center;
  }
  .features__linka {
    padding: 7rem 0;
  }
  .features__linkb {
    padding: 7rem 0;
  }
  .features__linkc {
    padding: 7rem 0;
  }
  // features end

  // HERO END
  // INFO START
  .info {
    display: block;
    background-image: none;
  }
  .info-container {
    justify-content: center;
  }

  .info-list {
    align-items: center;
  }

  .info-item {
    width: 375px;
    flex-direction: column;
    .info__content {
      width: 375px;
      align-items: center;
      p {
        text-align: center;
        margin-right: 2.2rem;
      }
    }
  }
  // INFO END
  // BG START

  .bg-container {
    width: 100%;
    max-width: 360px;
    height: 380px;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    padding-left: 0;
    h2 {
      width: 100%;
      font-size: 3.2rem;
    }
    p {
      width: 100%;
      font-size: 1.5rem;
      margin-bottom: 0;
    }
    a {
      align-self: auto;
      margin-top: 2rem;
      margin-left: 4.8rem;
    }
  }
  .bg-content {
    text-align: center;
    margin-left: 1.7rem;
    margin-bottom: 3.2rem;
  }
  // BG END
}
// MEDIA END
