.map {
}
.map-container {
}

.map-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  gap: 3rem;
}
.map-item {
  border-radius: 1.5rem;
  position: relative;
  background-color: #fdf3f0;
  padding-top: 8.8rem;
  padding-bottom: 8.8rem;
  padding-left: 9.5rem;
  color: $primary-peach-color;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
}

.maps-description {
  margin-top: 2.4rem;
  display: flex;
  gap: 10rem;
  p {
    color: $secondary-dark-grey-color;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.62; /* 162.5% */
  }
  a {
    color: $secondary-dark-grey-color;
    &:hover {
      opacity: 0.7;
    }
  }
}

.maps {
  border-radius: 1.5rem;
  position: inherit;
  bottom: 8.7rem;
  left: -9.4rem;
}

.map-item:nth-child(1) {
  grid-column: 1/3;
}
.map-item:nth-child(2) {
  width: 350px;
  height: 326px;
}
.map-item:nth-child(3) {
  grid-column: 2/4;
}
.map-item:nth-child(4) {
  grid-row: 2/3;
  width: 350px;
  height: 326px;
}
.map-item:nth-child(5) {
  grid-column: 1/3;
}
.map-item:nth-child(6) {
  width: 350px;
  height: 326px;
}
