.footer {
  background-color: $primary-black-color;
  // display: none;
}
.footer-container {
  padding-top: 14rem;
}

.footer-navbar {
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  margin-bottom: 4rem;
}

.fiiter-list {
  display: flex;
  gap: 4.2rem;
}

.footer-item-link {
  @include fontStetting(1.4rem, 1.4rem, 400, 2px);
  color: $primary-white-color;
  font-style: normal;
  &:hover {
    text-decoration: underline;
  }
}

.footer-contact {
  display: flex;
  padding-top: 3.1rem;
  padding-bottom: 7.2rem;
}

.footer-contact-list {
  display: flex;
  gap: 30px;
  margin-right: auto;
}

.footer-contact-item {
  width: 350px;
  @include fontStetting(1.6rem, 1.62, 700, normal);
  color: $primary-white-color;
  opacity: 0.5;
  font-style: normal;
  a {
    color: $primary-white-color;
    opacity: 0.5;
    font-style: normal;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    color: $primary-white-color;
    opacity: 0.5;
    font-style: normal;
  }
}

.footer-tel-link {
  &:hover {
    text-decoration: underline;
  }
}
.footer-email-link {
  &:hover {
    text-decoration: underline;
  }
}

.pages-site {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.fa-brands {
  color: $primary-peach-color;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    color: $secondary-light-peach-color;
  }
}

@media screen and (max-width: 768px) {
  .footer {
  }

  .footer-container {
    width: 100%;
    max-width: 700px;
  }
  .footer-contact-list {
    margin: 0;
  }
  .footer-contact-item {
    width: 223px;
  }
  .fa-brands {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 375px) {
  .footer {
  }

  .footer-container {
    width: 100%;
    max-width: 375px;
    height: 835px;
  }
  .footer-navbar {
    display: flex;
    flex-direction: column;
    img {
      margin-left: 4.6rem;
    }
  }

  .hr-line {
    width: 290px;
    opacity: 0.2;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }

  .fiiter-list {
    flex-direction: column;
    align-items: center;
  }

  .footer-line {
    display: none;
  }

  .footer-contact {
    flex-direction: column;
    align-items: center;
  }
  .footer-contact-list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
  }
}
